---
title: Support
---

<!DOCTYPE HTML>
<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />

<head>
<title>ChaiScript - Support.</title>
{% include common.html %}

</head>


<body>

{% include header.html %}

<div class="well well-sm">
  <h3>Support tickets are handled with <a href="https://github.com/ChaiScript/ChaiScript/issues">github</a> issues.</h3>

  For general questions, consider using <a href="http://stackoverflow.com/questions/tagged/chaiscript">stackoverflow</a>.
</div>



<div class="alert alert-success">
  <a class="alert-link" href="https://codedocs.xyz/ChaiScript/ChaiScript/">ChaiScript Generated Documents.</a>
</div>



<div  class="body-with-margin">
  <h4>For answers to your questions</h4>
  <ol>
    <li>The <a href="/examples.html">examples</a>. If there is not an example that answers your question, request one on <a href="https://github.com/ChaiScript/ChaiScript/issues">github</a>.</li>
    <li><a href="http://stackoverflow.com/questions/tagged/chaiscript">stackoverflow</a>. Several questions have already been added here. Ask more if it's a general "how-to" question.</li>
    <li>If something is broken or not working as expected, create a <a href="https://github.com/ChaiScript/ChaiScript/issues">github</a> issue.
  </ol>
</div>


<div class="alert alert-info">
  Please contact <a class="alert-link" href="http://blog.emptycrate.com/contact">jason at emptycrate.com</a> for other support services.
</div>

<div class="alert alert-success">
  <h3>Videos</h3>
</div>

<iframe width="560" height="315" src="https://www.youtube.com/embed/6GRSyiFhTI4" frameborder="10" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/CeHSHEZg-PQ" frameborder="10" allowfullscreen></iframe>


</body>
