<!-- TOP RIGHT RIBBON: START COPYING HERE -->
<div class="github-fork-ribbon-wrapper right">
  <div class="github-fork-ribbon">
    <a href="https://github.com/ChaiScript/ChaiScript">Fork me on GitHub</a>
  </div>
</div>



<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">ChaiScript</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li {% if page.url == '/examples.html'%} class='active' {% endif %}>
        <a href="/examples.html">Examples</a>
        </li>
        <li>
        <a href="https://github.com/ChaiScript/ChaiScript/blob/develop/cheatsheet.md">Cheatsheet</a>
        </li>
        <li {% if page.url == '/docs.html'%} class='active' {% endif %}>
        <a href="/docs.html">Docs</a>
        </li>
        <li {% if page.url == '/support.html'%} class='active' {% endif %}>
        <a href="/support.html">Support</a>
        </li>
        <li>
        <a href="https://github.com/ChaiScript/ChaiScript_Extras">Extras</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<div class="well well-lg">
<div class="hidden-print">
  <div class="container">
    <ul class="list-inline center-block text-center">
      <li>
        <a href="https://github.com/ChaiScript/ChaiScript/releases"><img src="https://img.shields.io/github/release/ChaiScript/ChaiScript.svg"></a>
      </li>
      <li>
        <a href="https://travis-ci.org/ChaiScript/ChaiScript.svg?branch=master"><img src="https://travis-ci.org/ChaiScript/ChaiScript.png?branch=master"/></a>
      </li>
      <li>
        <a href="https://ci.appveyor.com/project/lefticus/chaiscript"><img src="https://ci.appveyor.com/api/projects/status/6u3r4s81kkjqmsqw?svg=true"></a>
      </li>
      <li>
        <a href="http://codecov.io/github/ChaiScript/ChaiScript?branch=master"><img src="http://codecov.io/github/ChaiScript/ChaiScript/coverage.svg?branch=master" alt="Coverage Status" /></a>
      </li>
      <li>
        <a href="http://chaiscript.com/ChaiScript-BuildResults/index.html"><img src="https://img.shields.io/badge/dashboard-online-green.svg"/></a>
      </li>
      <li>
        <a href="http://discourse.chaiscript.com"><img src="https://img.shields.io/badge/Discourse_Forums--green.svg"/></a>
      </li>
    </ul>
  </div>
</div>

<br/>

<div class="hidden-print">
  <div class="container">
    <ul class="list-inline center-block text-center">
      <li>
      <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=ChaiScript&repo=ChaiScript&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
      </li>
      <li>
      <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=ChaiScript&repo=ChaiScript&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="102px" height="20px"></iframe>
      </li>
      
      <li>
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://chaiscript.com" data-text="Easy Embedded Scripting for C++" data-counturl="http://chaiscript.com" data-count="horizontal"  data-via="@lefticus" data-lang="en">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </li>
      <li>
      <a href="https://twitter.com/intent/tweet?button_hashtag=ChaiScript&text=Embedded%20scripting%20for%20my%20next%20project%3A%20" class="twitter-hashtag-button" data-related="lefticus" data-url="http://chaiscript.com" data-dnt="true">Tweet #ChaiScript</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </li>
    </ul>
  </div>
</div>
</div>



